body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

/* HEADER */

header {
    outline: 1px solid red;
    width: 414px;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

#title {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

#logo {
    margin-right: .25rem;
}

nav {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: .75rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7rem;
}

/* ARTICLES */

.article {
    margin: 1rem 1rem 2.5rem;
}

.article-img {
    margin-bottom: .75rem;
}

.article-img img {
    width: 100%;
}

.article-date {
    text-transform: uppercase;
    font-size: .9rem;
}

.article-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin: .5rem 0;
}

.featured {
    margin: 1rem 0 2.5rem;
    color: white;
    display: grid;
    grid-template-columns: 1rem auto 1rem;
    grid-template-areas:
        ". date  ."
        ". title ."
        ". blurb .";
}

.featured-date {
    text-transform: uppercase;
    font-size: .75rem;
    grid-area: date;
}

.featured-title {
    font-weight: 700;
    font-size: 2rem;
    grid-area: title;
}

.featured-blurb {
    grid-area: blurb;
}

#view-more {
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.5rem;
    text-decoration: underline;
}

/* FOOTER */

footer {
    background-color: #202020;
    color: white;
    padding: 2.5rem 0;
    text-align: center;
    font-size: .75rem;
}

#tagline {
    font-weight: 700;
}