body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    box-sizing: border-box;
}

#title {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

#logo {
    margin-right: .25rem;
}

nav {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: .75rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7rem;
}

nav a, header a {
    color: black;
    text-decoration: none;
}

/* ARTICLES */

#articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem 1.5rem;
    padding: 0 1.25rem;
    margin-bottom: 3.5rem;
}

.article {
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: .5rem;
}

.article-img {
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.article-date {
    text-transform: uppercase;
    font-size: .9rem;
    margin: .25rem 0;
}

.article-title {
    font-weight: 700;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

/* FEATURED */

.featured {
    box-sizing: border-box;
    padding: 5.5rem 0 2.5rem;
    margin-bottom: 2.25rem;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1.25rem auto 1.25rem;
    grid-template-areas:
        ". date  ."
        ". title ."
        ". blurb .";
}

.featured-date {
    text-transform: uppercase;
    font-size: .75rem;
    grid-area: date;
}

.featured-title {
    font-weight: 700;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    margin: .5rem 0;
    grid-area: title;
}

.featured-blurb {
    grid-area: blurb;
    font-size: 1rem;
    line-height: 1.5rem;
}

/* FOOTER */

footer {
    background-color: #202020;
    color: white;
    padding: 2.5rem 0;
    text-align: center;
    font-size: .75rem;
}

#tagline {
    font-weight: 700;
}

/* POSTS.JS */

.post {
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: .5rem;
    padding: 0 1.25rem;
}

#recent {
    text-align: center;
    font-weight: 700;
    margin-bottom: 1.75rem;
}

/* ABOUT */

#about {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-areas: 
        "pic  title"
        "text text";
    gap: 1rem;
    padding: 0 1.25rem;
    margin-bottom: 2rem;
}

#about-img {
    border-radius: 50%;
    width: 100%;
    grid-area: "pic";
}

#about-h1 {
    font-size: 2.25rem;
    font-weight: 700;
    grid-area: "title";
    align-self: center;
}

.about-txt {
    grid-area: "text";
    grid-column: span 2;
}