body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

/* HEADER */

header {
    outline: 1px solid red;
    width: 414px;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

#title {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

#logo {
    margin-right: .25rem;
}

nav {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: .75rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7rem;
}

/* ARTICLES */

.article {
    margin: 1rem;
}

.article-img {
    margin-bottom: 1rem;
}

.article-img img {
    width: 100%;
}

.article-date {
    text-transform: uppercase;
}

.article-title {
    font-weight: 700;
}